$font-color: rgb(46, 43, 43);

p {
    color: $font-color;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    margin-top: 5px;
    text-align: center;
  }